<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>lab1</title>
</head>
<body>
    <h1>Lab1 made, Kaplan Ilya, K-23</h1>
    <ol>
        <li><a href = "/Linear_Congruential_generator">Linear Congruential generator</a></li>
        <li><a href = "/Square_Congruential_generator">Square Congruential generator</a></li>
        <li><a href = "/Fibonacci_generator">Fibonacci generator</a></li>
        <li><a href = "/Reverse_Congruential_generator">Reverse Congruential generator</a></li>
        <li><a href = "Associative_generator">Associative generator</a></li>
        <li><a href = "Three_sigma_generator">Three sigma generator</a></li>
        <li><a href = "Poliar_Cords_generator">Poliar Cords generator</a></li>
        <li><a href = "Relative_generator">Relative generator</a></li>
        <li><a href = "Logarithm_generator">Logarithm generator</a></li>
        <li><a href = "Arence_generator">Arence generator</a></li>
    </ol>
</body>
</html>
